body{
    background-color: black;
}
.navbar {
    background-color: #333;
    overflow: hidden;
    position: sticky;
    bottom: 1;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #logoicon{
    float: left;
    padding: 2px 3px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbar a.active {
    background-color: darkmagenta;
    color: white;
  }

  .topnav-right {
    float: right;
  }
  
  @media screen and (max-width: 600px) {
    .navbar a, .topnav-right {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
}
.centerimg{
    text-align: center;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

.c30 {
  width: 30%;
  color: white;
  display: table-cell;
}

.c70 {
  width: 70%;
  color: white;
  align-items: center;
  display: table-cell;
}

* {
  box-sizing: border-box;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: darkmagenta;
    color: white;
}